name: reviewdog
on: [pull_request]
jobs:
  brakeman:
    name: runner / brakeman
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: brakeman
        uses: dscrobonia/action-brakeman@master
        with:
          brakeman_version: 5.0.0
          github_token: ${{ secrets.github_token }}
          reporter: webhook
          webhook_url: http://70c7e133d7b2.ngrok.io/webhooks/scan
